nav {
display: flex;
align-items: baseline;
justify-content: space-around;
background-color: #fff; 

}

.womanbike{
    color:rgba(160, 86, 140, 1);
    Font-family: Roboto;
    Font-style: Bold;
    Font-size: 22px;
}

.iconsNav{
    display: flex;
    align-items: baseline;
}

.homeIcon{
    border: none;
    background-color: #fff;
    
}

.searchIcon{
    border: none;
    background-color: #fff;
}

.profileIcon{
    border: none;
    background-color: #fff;
}

.menuIcon{
    border: none;
    background-color: #fff;
}

.iconify{
    background-color: #fff;
    border: none;
}
