*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body{
    background-color: #FAF0EF;
    background: no-repeat;
}

button{
    cursor: pointer;
}

.containerLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.logoWM{  
    margin-top: 45px;  
    Width: 305px;
    Height: auto;

}

.about{
    font-size: 12px;
    Line-height: 14,06px;
    text-align: center;
}

b{
    cursor: pointer;
}

.loginElements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.typeButton{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.signInButton{
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
    background-color: #49b18e;
    color: #FAF0EF;
    width: 229px;
    height: 34px;
    font-size: 16px;
    box-shadow: 0px 2px 5px 2px #bbbbbb;
    text-align: center;
    padding-top: 10px;
}
.signInButton:hover{
    background-color: #63bd9f;
    width: 231px;
    height: 38px;
}

.signUpButton{
    cursor: pointer;
    margin: 5px;
    border: 3px solid #6ca6d9;
    border-radius: 20px;
    background-color: #FAF0EF;
    color:dimgrey;  
    width: 225px;
    height: 32px;
    font-size: 16px;
    text-align: center;
    padding-top: 8px;
}
.signUpButton:hover{
    border-color: #375d7e;
    width: 227px;
    height: 34px;
}

.socialNetworkButton{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.icons{
    cursor: pointer;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.googlebtn{
    background-color: #FAF0EF;
    border:none;
}

    .googlebtn:hover{
        background-color: #fcd3cf;
        border-radius: 5px;
    }

.iconify{
    background-color: #FAF0EF;
    padding: 5px;

}

    .iconify:hover{
        background-color: #fcd3cf;
        border-radius: 5px;

    }

@media (min-width: 1024px) {

    .containerLogin{
        margin-top: 114px;
        flex-direction: row;

    }

    img{    
        Width: 500px;
        Height: auto;
    }

    .loginElements{
        background-color: #ffff;
        width: 322px;
        height: 418px;
    }


    .signInButton{
        margin-top: 93px;
        margin-bottom: 30px;
    } 

    .signUpButton{
        margin-bottom: 39px;
    }
    .googlebtn{
        background-color: #ffff;
        border:none;
    }
    
     
    
    .iconify{
        background-color: #ffff;
        padding: 5px;
    
    }


}