
body{
    background-color: #FAF0EF;
}


.signInTitle{
   display: none;
}

.formSignIn{
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.inputSignIn{
    font-size: 14px;
    margin: 3px;
    background-color: #FAF0EF;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px dashed #2F3737;
    Width: 236px;
    Height: 31px;  
}

.passwordRecover{
margin-left: 120px;
margin-bottom: 20px;
font-size: 12px;
line-height: 14px;
text-decoration-line: underline;
color: #6FAAE4;

}

.signInEmailPass{
    cursor: pointer;
    border-radius: 20px;
    border: none;
    margin: 5px;
    background-color: #49b18e;
    color: #FAF0EF;
    width: 170px;
    height: 35px;
    font-size: 16px;
    box-shadow: 0px 2px 5px 2px #bbbbbb;
    }
    .signInEmailPass:hover{
        background-color: #63bd9f;
        width: 172px;
        height: 37px;
    }

@media (min-width: 1024px) {

    .signInTitle{
        display: block;
       margin-top: 20px;
       margin-bottom: 15px

    }

.inputSignIn{
    background-color: #Ffff;
    margin: 10px;
}

}