*{
    margin-top: 0px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
} 

body{
    background-color: #FAF0EF;
}


.formRegister{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.inputsignUp{
    font-size: 14px;
    margin: 5px;
    background-color: #FAF0EF;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px dashed #2F3737;
    Width: 236px;
    Height: 25px;
}

.createUserButton{
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding-top: 5px;
    background-color: #49b18e;
    color: #FAF0EF;
    width: 170px;
    height: 30px;
    font-size: 16px;
    box-shadow: 0px 2px 5px 2px #bbbbbb;
}

    .createUserButton:hover{
        background-color: #63bd9f;
        width: 172px;
        height: 37px;
    }

    #containerModal{
        display: none;
    }

    #containerModalSignIn{
        display: none;
    }

    .modalSignIn{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        background:rgba(143, 143, 143, 0.5);
        position:fixed;
        z-index: 1;
        overflow: auto;
        top: 0;
        bottom:0;
        left:0;
        right:0;
        transition: all 500ms ease;
    }

    .modal{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        background:rgba(143, 143, 143, 0.5);
        position:fixed;
        z-index: 1;
        overflow: auto;
        top: 0;
        bottom:0;
        left:0;
        right:0;
        transition: all 500ms ease;
    }
    
    .msgError{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 180px;
        margin-left: 39px;
        padding: 20px;
        width: 200px;
        height: auto;
        background-color: #63bd9f;
        color: white;
        border-radius: 5px;
        box-shadow: 0px 2px 5px 2px #9c9c9c;
    }

    p{
        text-align: center;
    }

    .buttonModal{
        display: flex;
        align-items: start;
        justify-content: center;
        margin-top: 15px;
        cursor: pointer;
        border-radius: 10px;
        border: none;
        padding-top: 2px;
        background-color: rgb(173 111 156);
        color: #FAF0EF;
        width: 50px;
        height: 20px;
        font-size: 10px;
        box-shadow: 0px 1px 3px 1px #757575;
    }

@media (min-width: 1024px){

    .inputsignUp{
        margin: 10px;
        height: 30px;
        background-color: white;
    }

}

