*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}


body{
    background-color: #FAF0EF;
}


.formSignIn{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center; 
}

.inputSignIn{
    margin: 3px;
    font-size: 14px;
    background-color: #FAF0EF;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px dashed #2F3737;
    border-radius: 0;
    Width: 236px;
    Height: 31px;
    box-shadow: none;   
}

.passwordRecover{
margin-left: 120px;
margin-bottom: 31px;
font-size: 12px;
line-height: 14px;
text-decoration-line: underline;
color: #6FAAE4;

}

.enterButton{
    cursor: pointer;
    border-radius: 20px;
    border: none;
    margin: 5px;
    background-color: #49b18e;
    color: #FAF0EF;
    width: 170px;
    height: 35px;
    font-size: 16px;
    box-shadow: 0px 2px 5px 2px #bbbbbb;
    }
    .enterButton:hover{
        background-color: #63bd9f;
        width: 172px;
        height: 37px;
    }

